h1 {
  color: whitesmoke;
  font-size: larger;
}

input {
  font-size: larger;
}

button {
  font-size: larger;
}

input {
  margin: auto;
  padding: 2px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

label {
  font-size: larger;
}

.logo {
  margin: auto;
  margin-top: 10px;
}

.App {
  text-align: center;
}

.github-logo {
  background-image: url(./images/github-logo.png);
  margin: auto;
  margin-top: 10px;
}

.formContainer {
  align-content: center;
}

.serchRepositoryInput {
  margin: auto;
  margin-top: 10px;
}

.serchButton {
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}
